__pycache__/
__pycache__

migrations
migrations/
/migrations/

.idea/
.idea

.vscode/
.vscode
.pytest_cache/
.pytest_cache
/settings.py
.settings.py
settings.py
ebs/settings.py
/ebs/settings.py
/ebs/celery.py
ebs/local_settings.py
/ebs/local_settings.py
/ebs/settings_local.py
/staticfiles
/assets/uploads/*
/%FD_BATCH_COMBINE
%FD_BATCH_COMBINE/
%FD_BATCH_COMBINE

venv/
/venv/
venv/*

env/
/env/
env/*

logs/
logs/*

celerybeat-schedule

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

ebs/celery.py

ov_requirements.txt #ov stands for old version
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
